<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <!-- Boot strap -->
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'user_app/css/style.css' %}">
        <title>Django-JoonB</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="page-header">
                    <h1>To-do List <small>with Django</small></h1>
                    <h1>회원 가입</h1>
                </div>
            </div>
            <div class="content">
                <form action="signDo" method="POST">{% csrf_token %}
                    <table class="messageDiv">
                        <tr>
                            <td>회원 ID&emsp;&emsp;</td>
                            <td><input type="text" name="sign_id" requried/></td>
                        </tr>
                        <tr>
                            <td>비밀번호&emsp;&emsp;</td>
                            <td><input type="text" name="sign_pwd" requried/></td>
                        </tr>
                        <tr>
                            <td>회원이름&emsp;&emsp;</td>
                            <td><input type="text" name="sign_name" requried/></td>
                        </tr>
                        <tr>
                            <td>이메일&emsp;&emsp;</td>
                            <td><input type="email" name="sign_email" requried/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="table_button">
                                <button type="submit" class="btn btn-default">확인</button>
                                <button type="button" class="btn btn-default" onclick="location.href='/'">뒤로가기</button>
                            </td> 
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>