<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <!-- Boot strap -->
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'user_app/css/style.css' %}">
        <title>Django-JoonB</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="page-header">
                    <h1>To-do List <small>with Django</small></h1>
                    <h1>회원 가입</h1>
                </div>
            </div>
            <div>
                <form action="signDo" method="POST">
                    {% csrf_token %}
                    <label>
                        회원 ID
                        <input type="text" name="sign_id" requried/>
                    </label><br/>
                    <label>
                    비밀 번호
                    <input type="password" name="sign_pwd" requried/>
                    </label>
                    이름
                    <input type="text" name="sign_name" requried/>

                    이메일
                    <input type="email" name="sign_email" requried/>
                    <button type="submit">확인</button><button type="button" onclick="location.href='/'">뒤로가기</button>
                </form>
            </div>
        </div>
    </body>
</html>

<!--
<section class="container">
    <article class="half">
            <h1>Azure</h1>
            <div class="tabs">
                    <span class="tab signin active"><a href="#signin">Sign in</a></span>
                    <span class="tab signup"><a href="#signup">Sign up</a></span>
            </div>
            <div class="content">
                    <div class="signin-cont cont">
                            <form action="#" method="post" enctype="multipart/form-data">
                                    <input type="email" name="email" id="email" class="inpt" required="required" placeholder="Your email">
                                    <label for="email">Your email</label>
                                    <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">
                                    <label for="password">Your password</label>
                                    <input type="checkbox" id="remember" class="checkbox" checked>
                                    <label for="remember">Remember me</label>
                                    <div class="submit-wrap">
                                            <input type="submit" value="Sign in" class="submit">
                                            <a href="#" class="more">Forgot your password?</a>
                                    </div>
                            </form>
                    </div>
                    <div class="signup-cont cont">
        <form action="#" method="post" enctype="multipart/form-data">
                                    <input type="name" name="name" id="name" class="inpt" required="required" placeholder="Your name">
                                    <label for="name">Your name</label>
            <input type="email" name="email" id="email" class="inpt" required="required" placeholder="Your email">
                                    <label for="email">Your email</label>
                                    <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">
                                    <label for="password">Your password</label>
                                    <div class="submit-wrap">
                                            <input type="submit" value="Sign up" class="submit">
                                            <a href="#" class="more">Terms and conditions</a>
                                    </div>
                            </form>
    </div>
            </div>
    </article>
    <div class="half bg"></div>
</section>
-->