<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- Boot strap -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- class 명 변경시 디자인 오류 발생 -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/index.css' %}">
    <title>Web Excel</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="page-header">
                <h1>Excel Calculate <small>with Django</small><a href="user/logout" class="btn btn-danger btn-xs" style="margin-left: 30px">로그아웃</a></h1>
            </div>
        </div>
        <div class="content">
            <div class="fileInputDiv">
                <form action="excelCalc/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="input-group">
                        하단 버튼을 통해 파일을 업로드 해주세요.(.xls 확장자의 파일만 가능합니다.)<br/>
                        <input id="fileInput" name="fileInput" type="file" class="form-control" required accept=".xls, xlsx"><br/>
                        <input type="submit" class="btn btn-success btn-lg" style="float:right;" value="파일 제출">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            JoonB Django_Project Web Excel Calc
        </div>
    </div>
</body>
</html>